<% if !admin_signed_in? %>

  <%= render 'shared/header' %>

  <div class='container' style='margin-bottom: 50px;'>

    <%= render 'search_bar' %>

    <%= render 'items' %>

  </div>

<% else %>

    TESTE

<% end %>

<%= render 'login_modal' %>
